* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 22px;
  color: #777777;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.header {
  padding-top: 25px;
  min-height: 155px;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  margin-left: -10px;
  margin-right: -10px;
  background-color: #fff;
  padding-bottom: 15px;
  position: relative;
}

.header::after {
  display: block;
  position: absolute;
  content: '';
  width: calc(100% - 20px);
  height: 1px;
  bottom: 0;
  left: 10px;
  background-color: #696969;
}

.header__column {
  padding-left: 10px;
  padding-right: 10px;
}

.header__column:first-child {
  width: 30%;
}

.header__column:nth-child(2) {
  width: 70%;
}

.header__column:nth-child(3){
  width: 100%;
}

.header__element {
  height: 105px;
  background-color: #777777;
  padding: 20px;
}

.header__element-contact {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  transition: 0.3s ease;
}

.header__element-contact--tel {
  text-decoration: none;
}

a.header__element-contact--email {
  text-decoration: underline;
}

.header__element-contact:hover {
  color: #aaa;
}

.main {
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #696969;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  margin-left: -10px;
  margin-right: -10px;
}

.side-panel,
.article {
  padding-left: 10px;
  padding-right: 10px;
}

.side-panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.side-panel__element {
  min-height: 130px;
  background-color: #777777;
  padding: 15px;
  width: calc(50% - 10px);
}

.side-panel__element--bottom {
  margin-left: 20px;
}

.side-panel__element-title {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
}

.side-panel__element-list {
  margin: 0;
  padding: 0;
}

.side-panel__element-item {
  list-style: none;
}

.side-panel__element-item a {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  transition: 0.3s ease;
}

.side-panel__element-item a:hover {
  color: #aaa;
}

.article {
  margin-top: 30px;
}

.article__info {
  width: 100%;
  min-height: 150px;
  margin-bottom: 20px;
  background-color: #dcdcdc;
  padding: 15px;
}

.article__info-description {
  display: inline-block;
  margin-bottom: 20px;
}

.article__info-list {
  margin-bottom: 25px;
}

.article__list {
  margin: 0;
  padding: 0;
  margin-right: -10px;
  margin-left: -10px;
}

.article__item {
  list-style: none;
  padding: 0 10px;
  width: 50%;
  margin-bottom: 20px;
}

.article__item p {
  position: relative;
}

.article__item .glyphicon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
}

.article__item p {
  background-color: #dcdcdc;
  min-height: 150px;
  margin: 0;
}

.article__service {

}

.article__service-column {
  padding: 15px;
  background-color: #dcdcdc;
  margin-bottom: 20px;
}

.article__service-column p {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.footer {
  padding-top: 35px;
  margin-top: auto;
}

.footer__column {
  margin-bottom: 30px;
}

.footer__column--sandwich {
  margin-bottom: 35px;
}

.footer__element {
  min-height: 77px;
  background-color: #777777;
  padding: 15px;
  padding-bottom: 5px;
}

.footer__element--sandwich {

}

.footer__element--sandwich:first-child {
  margin-bottom: 30px;
}

.footer__element-list {
  padding-left: 10px;
}

.footer__element-list--square {

}

.footer__element-list:nth-child(2) {
  margin-left: 55px;
}

.footer__element-list--column {
  display: inline-block;
}

.footer__element-item {
  list-style: none;
  color: #fff;
}

.footer__element-item--square {
  padding-left: 10px;
  position: relative;
}

.footer__element-item--square::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  width: 5px;
  height: 5px;
  background-color: #fff;
}

.footer__element-item a {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  transition: 0.3s ease;
}

.footer__element-item a:hover {
  color: #aaa;
}

@media (min-width: 768px) {

  .article__item {
    width: 33.33333%;
  }

  @supports (display: flex) {

    .side-panel__element--bottom {
      margin-left: 0;
    }

  }

}

@media (min-width: 992px) {

  .header {
    position: absolute;
    width: calc(100% - 10px);
    top: 0;
    left: 0;
    right: auto;
    z-index: 100;
    flex-flow: row nowrap;
    margin-left: 5px;
    margin-right: 0;
  }

  .header.fixed {
    position: fixed;
    width: 960px;
    top: 0;
    left: auto;
    margin-left: -10px;
  }

  .header__column:first-child {
    width: 15%;
  }

  .header__column:nth-child(2) {
    width: 30%;
  }

  .header__column:nth-child(3){
    width: 55%;
  }

  .main {
    margin-top: 180px;
    flex-flow: row nowrap;
  }

  .side-panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 22%;
  }

  .side-panel__element {
    width: 100%;
  }

  .side-panel__element--top {
    margin-bottom: 30px;
  }

  .side-panel__element--top.fixed {
    position: fixed;
    top: 180px;
    z-index: 100;
    width: 191px;
  }

  .side-panel__element--bottom {
    margin-left: 0;
  }

  .article {
    width: 78%;
    margin-top: 0;
  }

  .article__item {
    width: 20%;
  }

  .article__service {
    display: flex;
    justify-content: space-between;
  }

  .article__service-column {
    width: calc(50% - 10px);
    margin-left: 20px;
    margin-bottom: 0;
    min-height: 415px;
  }

  .article__service-column:first-child {
    margin-left: 0;
  }

  .footer__column {
    margin-bottom: 35px;
  }

  @supports (display: flex) {

    .side-panel {

    }

    .side-panel__element--bottom {
      margin-top: auto;
    }

    .article__service-column {
      min-height: 0;
    }
  }
}

@media (min-width: 1024px) {

  .container {
    width: 990px;
  }

  .header.fixed {
    width: 980px;
  }

  .side-panel__element--top.fixed {
    width: 196px;
  }

}

@media (min-width: 1200px) {

  .container {
    width: 1170px;
  }

  .header.fixed {
    width: 1160px;
  }

  .side-panel__element--top.fixed {
    width: 235px;
  }

}